<% include header %>
<body>
    <div class="container">
        <div class="ad"><a href="/"><h1 class="title">Submit a Discount.</h1></a></div>
        <hr>
        <div class="addForm mt-5">
        <form action="/newpost" method="POST" name="addForm">
            <div class="form-group">
                <label for="exampleInputEmail1">Name of Discount</label>
                <input required="true" name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="eg. Amazon Prime">
                <small id="text" class="form-text text-muted">This will be the headline of your post</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Discount URL</label>
                <input required="true" name="url" type="url" class="form-control" id="exampleInputPassword1" placeholder="https://www.amazon.ca/b?node=9648404011">
            </div>
            <div class="form-group">
                <label for="lengthOfPromo">Length of Promo</label>
                <input required="true" name="length" type="text" class="form-control" id="exampleInputPassword1" placeholder="eg. Free While You're a Student">
            </div>
            <hr>

            <div class="form-group">
                <label for="exampleInputPassword1">Primary Feature</label>
                <input name="f1" type="text" maxlength="40" class="form-control" id="exampleInputPassword1" placeholder="eg. Free Two-Day Shipping">
                <small required="true"id="text" class="form-text text-muted">required</small>
            </div>
            <div class="form-group">
                <label for="lengthOfPromo">Second Feature</label>
                <input name="f2" type="text" maxlength="40" class="form-control" id="exampleInputPassword1" placeholder="eg. Photo Storage">
                <small id="text" class="form-text text-muted">optional</small>
            </div>
            <div class="form-group">
                <label for="lengthOfPromo">Third Feature</label>
                <input name="f3" type="text"  maxlength="40" class="form-control" id="exampleInputPassword1" placeholder="eg. Twitch Prime Included">
                <small id="text" class="form-text text-muted">optional</small>
            </div>
            <hr>
            <fieldset class="form-group">
                <div class="form-group">
                <label for="exampleInputEmail1">Thumbnail Image URL</label>
                <input name="image" type="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="https://">
                </div>
            <button type="submit" class="btn addDiscount">Submit</button>
            </form>
        </div>
</body>
<% include footer %>