<div class="footer mt-5">
<p class="footertext">made by <a href="https://github.com/calumptrck" class="underline">Calum Patrick</a></p>
<p><a href="https://github.com/calumptrck/Studddent"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></p>
</div></div>
</html>