<% include header %>
  <body>
    <div class="container">
    <h1 class="title">Bulletin Board for Student Discounts.</h1>
    <p class="desc">Curated list of the best online student discounts for developers</p>
    <button type="button" class="btn addDiscount">Add A Dicount</button>
    <hr>
    <div class="entries">
      <div class="block">
        <div class="entry">
            <div class="tnbg">
              <img src="images/amz.png" alt="amazon"/>
            </div>
            <div class="middle">
              <div class="headline">Amazon Prime</div>
              <div class="url">amazon.ca</div>
              <div class="feature">Free for 6 Months</div>
            </div>
            <div class="features">
              <ul>
                <li>Free Two-Day Shipping</li>
                <li>Photo Storage</li>
                <li>Twitch Prime Included</li>
              </ul>
            </div>
          </div>
          <div class="voting">
            <div class="up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
            <div class="count">10</div>
            <div class="down"><i class="fa fa-thumbs-down" aria-hidden="true"></i></div>
          </div>
      </div>
    </div>
  </div>
  </body>
<% include footer %>
