a {
  display: inline-block;
}

.addDiscount {
  background-image: linear-gradient(-90deg,rgb(71, 187, 255) 0,rgb(39, 151, 244) 100%);
  color: #fff;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 1em;
  font-size: 14px;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: all .24s cubic-bezier(0,.5,.51,1);
}

.addDiscount:hover {
  border-radius: .9em;
}

.grow2 { 
  transition: all .24s cubic-bezier(0,.5,.51,1); }
.grow2:hover { transform: scale(1.04); }

.shadow2 {
  box-shadow: 0 12px 25px rgba(0,0,0,0.04);
  -moz-box-shadow:    0 12px 25px rgba(0,0,0,0.04);
  -webkit-box-shadow: 0 12px 25px rgba(0,0,0,0.04);
}

.shadow2:hover {
  box-shadow: 0 14px 25px rgba(0,0,0,0.08);
  -moz-box-shadow:    0 14px 25px rgba(0,0,0,0.08);
  -webkit-box-shadow: 0 14px 25px rgba(0,0,0,0.08);
}